*{
    background-color: #248F7B;
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 700px;
    justify-content: center;

}

form{
    text-align: center;
    color: white;
}